body {
  background-color: #e7e1e0;
  color: #433c3c;
  font-family: "Montserrat", sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
  
}

hr {
  border: 2px solid #ccc;
}

.bio {
  font-size: 15px;
  margin-bottom: 20px;
  text-align: justify;
  text-indent: 25px;
}

h1 {
  font-size: 40px;
  color: #611515;
}

.list {
  font-size: 15px;
  display: inline-block;
  text-align: justify;
}

